.color{
    color: white;
}

.size{
    font-size: 2rem;
}

.about__container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transition: linear 0.4s;
    transform: translate(-3%, -3%);
}

.about__me-image:hover{
    transform: translate(-6%, -6%);
}

.about__cards{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.about__card{
    background: var(--color-bg-varient);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.about__card:hover{
    background-color: transparent;
    border-color: var(--color-primary-varient);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: 0.95rem;  
}

.about__card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


@media screen and (max-width: 1024px) {
   .about__container{
    grid-template-columns: 1fr;
    gap: 0;
   }

   .about__me{
    width: 50%;
    margin: 0rem auto 4rem;
    grid-area: 1 / 1 / 2 / 2;
   }
   .about__content{
    margin: 0 2rem;
   }

   .about__content p{
    margin: 1rem 0 1.5rem;
   }
}



@media screen and (max-width: 600px) {
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards{
        flex-wrap: wrap;
        gap: 1rem;
    }

    .about__content{
        text-align: center;
    }

    .about__container p{
        margin: 1.5rem 0;
    }
}

