@keyframes front {
    0%   {opacity: 0;}
    80%  {opacity: 0;}
    100% {opacity: 1;}
}

 @keyframes bg-me {
    /* transform:translateX(-50%) scale(0); */
    0%   {transform:translateX(-50%) scale(0);height: 0;}
    40%  {transform:translateX(-50%) scale(0); height: 0;}
    89%  {transform:translateX(-50%) scale(1)}
    100% {transform:translateX(-50%); height: 33rem;}
}

 @keyframes me {
    0%   {transform:translateY(100%); }
    80%  {transform:translateY(100%); }
    100% {transform:translateY(0); }
}

@keyframes btn{
    0% {scale: 0; color: red; border-color: red;}
    80% {scale: 0; color: red; border-color: red;}
    100% {scale: 1; color: red; border-color: red;}
}


@keyframes socials{
    0% {transform: translateY(200%);}
    80% {transform: translateY(200%);}
    100% {transform: translateY(0);}
}

@keyframes twit{
    0% {transform: translateY(400%);}
    80% {transform: translateY(400%);}
    100% {transform: translateY(0);}
}

@keyframes git{
    0% {transform: translateY(700%);}
    84% {transform: translateY(700%);}
    100% {transform: translateY(0);}
}

@keyframes linked{
    0% {transform: translateY(900%);}
    86% {transform: translateY(900%);}
    100% {transform: translateY(0);}
}

@keyframes scroll{
    0% {transform: translateY(-100vh) rotate(90deg) ; }
    88% {transform: translateY(-100vh) rotate(90deg);}
    100% {transform:  translateY(0) rotate(90deg);}
}

header{
    height: 100vh;
    padding-top: 8vh;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container h5{
    font-size: 1.1rem;
}

.header__container h1{
    color: #1AA0FF;
}

.front{
    animation-name: front;
    animation-duration: 4s;
}



.cta{
    margin-top: 5vh;
    display: flex;
    gap: 1.5vw;
    justify-content: center;
}

.cta a{
    transition: linear 0.5s;
}

.btn__header{
    animation-name: btn;
    animation-duration: 6s;
}


.header__socials {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    position: fixed;
    left: 7vw;
    bottom: 0;
    animation-name: socials;
    animation-duration: 4s;
    transition: linear 0.7s ;
}

.out{
    bottom: 100%;
}

.linked{
    animation-name: linked;
    animation-duration: 7s;
}

.git{
    animation-name: git;
    animation-duration: 6s;
    font-size: 1.1rem;
}

.twit{
    animation-name: twit;
    animation-duration: 5s;
    font-size: 1.3rem;
}

.mail{
    font-size: 1.2rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 4rem;
    background-color: var(--color-primary);
}

.header__socials a{
    transition: linear 0.3s;
}

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 23rem;
    height: 33rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    animation-name: bg-me;
    animation-duration: 9s;
}

.me img{
    animation-name: me;
    animation-duration: 8s;
}

 .scroll__down {
    position: absolute;
    right: -7vw;
    bottom: 12vh;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    transition: linear 0.3s;
    animation-name: scroll;
    animation-duration: 8s;
}


@media screen and (max-width: 1024px) {
    header{
        height: 80vh;
    }
}



@media screen and (max-width: 640px) {
   header{
        height: 100vh;
        
    }

    .header__socials, .scroll__down{
        display: none;
    }
}


