@keyframes light {
    100% {
      transform: translate3d(50%, 50%, 0);
    }
  }

footer{
    background-image: -webkit-linear-gradient(top, 
    rgba(0,0,0,0.9) 0%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0.9) 100%
  ),
  url('../../assets/pexels-shay-wood-574116.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: var(--color-primary);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    color: #1AA0FF;
}



.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background-color: var(--color-bg);
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}


.footer__socials a:hover{
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}


@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials{
        margin-bottom: 2.6rem;
        
    }
 }
 