.experience__container{
    display: grid;
    grid-template-columns: max-content ;
    justify-content: center;
}

.experience__container > div{
    background: var(--color-bg-varient);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover{
    border:2px solid white;
    background-color: rgba(44, 44, 108,0.5);
}

.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 10vw;
}

.experience__details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
    font-size: 2rem;
}

.experience__details-img{
    width: 2rem;
}



@media screen and (max-width: 1024px) {

    
    .experience__container > div{
        padding: 2rem;
    }
    .experience__content{
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
     }
}
 
 
 
 @media screen and (max-width: 600px) {
    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;

    }
 }