@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

nav{
    background: rgba(250,250,250,0.15);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    transition: linear 0.3s;   
}

nav:hover{
    font-size: 1.1rem;
    gap: 1rem;
}

nav a{
    padding: 0.4rem;
    transition: linear 0.3s;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: var(--color-light);
}

a img{
    width: 1rem;
}

nav a:hover{
    font-size: 1.3rem;
    background: rgba(0, 0,0, 0.3);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

.cta__fixed{
    position: fixed;
    right: 3vw;
    bottom: 12vh;
    display: flex;
    flex-direction: column;
    transition: linear 0.8s;
}

.btn__cv{
    position: absolute;
    padding: 0.7rem 0.9rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    right: 0vw;
    bottom: 8vh;
    color: #4db5ff;
    /* animation-name: cv-color;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}

.circle{
    right: 0vw;
    bottom: calc(8vh + 0.8rem) ;
    position: absolute;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #4db5ff;
    border-bottom: 2px solid #4db5ff;
    width: 55px;
    height: 55px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


.out{
    bottom: -30vh;
}



