@keyframes cv-color {
    0%   {
        transform: scale(1);
        text-shadow: 1px 1px rgba(255, 0, 0, 0.5);
    }

    50%  {
        transform: scale(1.2);

    }
    100% {
        transform: scale(1);

    }
}

@keyframes talk-color {
    0%   {
        transform: scale(1.2);
    }
   
    50%  {
        transform: scale(1);
        text-shadow: 1px 1px rgba(255, 0, 0, 0.5);
    }
    100% {
        transform: scale(1.2);
    }
}

nav{
    background: rgba(250,250,250,0.15);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    transition: linear 0.3s;   
}

nav:hover{
    font-size: 1.1rem;
    gap: 1rem;
}

nav a{
    padding: 0.4rem;
    transition: linear 0.3s;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: var(--color-light);
}

a img{
    width: 1rem;
}

nav a:hover{
    font-size: 1.3rem;
    background: rgba(0, 0,0, 0.3);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

.cta__fixed{
    position: fixed;
    right: 3vw;
    bottom: 12vh;
    display: flex;
    flex-direction: column;
    transition: linear 0.8s;
}

.btn__cv{
    padding: 0.7rem 0.9rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    animation-name: cv-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}


.btn__talk{
    border-radius: 50%;
    padding: 0.8rem 0.5rem;
    animation-name: talk-color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}




.out{
    bottom: -30vh;
}


